@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");

  font-display: swap;

}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

/* Pages */

.navigation-link {
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
}

.hero {
  background-image: url("../images/hero-index.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
