  /* Fonts */

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");

    font-display: swap;

  }

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
    background-color: #F2F2F2;
  }

  body {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Header */

  .page-header {
    background-color: #ffffff;
    color: #000000;
  }

  /* Navigation */

  .navigation {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 507px;
    margin: 0;
    padding: 0;
    margin-left: 28px;
    list-style: none;
  }

  .logo {
    display: block;
    margin-bottom: -10px;
    width: 140px;
    z-index: 1;
  }

  .navigation-user {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: auto;
    width: 100px;
    list-style: none;
  }

  .navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
  }

  .current-link {
    position: relative;
    z-index: 1;
    text-decoration: underline;
    text-decoration-color: #756257;
    text-underline-position: under;
    text-decoration-thickness: 2px;
    text-underline-offset: 19.5px;
}

  .navigation-user .navigation-link {
    min-width: 20px;
    min-height: 20px;
  }

  .navigation-search,
  .navigation-favorite {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    padding: 22px 12px;
  }

  .navigation-favorite {
    position: relative;
    background-image: url("../images/favorite.svg");
  }

  .link-wrapper {
    display: flex;
    align-items: center;
  }

  .booking-hotel {
    display: inline-block;
    margin-left: 8px;
    padding: 8px 34px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #756157;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
  }

  .booking-hotel:hover,
  .booking-hotel:focus {
    background-color: #615048;
  }

  .booking-hotel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
  }

  .booking-hotel:disabled {
    background-color: #E5E5E5;
  }

  /* Main */

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  /* Hero */

  .hero-image-wrapper {
    background-image: url("../images/hero-index.jpg");
    min-height: 485px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero-image {
    display: block;
    margin: 0 auto;
    padding-top: 51px;
  }

  .hero-wrapper {
    padding: 69px 274.5px;
  }

  .hero-subtitle {
    margin-top: 0;
    margin-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }

  .hero-description {
    margin-top: 0;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  /* Advantages */

  .advantage {
    display: flex;
    flex-direction: column;
  }

  .advantage-photo-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-photo-wrapper .advantage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 102px 85px;
  }

  .advantage-card-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-card-wrapper .advantage-item {
    position: relative;
    width: 230px;
    background-color: #83B3D31F;
    padding: 112.5px 85px;
  }

  .advantage-card-wrapper .advantage-item:nth-child(2n) {
    background-color: #83B3D333;
  }

  .advantage-item {
    background-color: #82B3D3;
    position: relative;
    min-width: 230px;
    padding: 112.5px 85px;
  }

  .advantage-item::after {
    position: absolute;
    content: '';
    top: 199px;
    left: 170px;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    ;
  }


  .advantage-text-wrapper {
    position: relative;
    width: 400px;
    padding: 102px 85px;
    background-color: #82B3D3;
  }

  .advantage-text-wrapper::after {
    position: absolute;
    content: '';
    top: 188px;
    left: 170px;
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .advantage-img {
    display: inherit;
  }

  .advantage-h3 {
    width: 175px;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 auto 62px auto;
  }

  .advantage-card-wrapper .advantage-h3 {
    color: #000000;
  }

  .advantage-photo-h3 {
    width: 172px;
  }

  .advantage-card-p {
    margin: 0 auto;
  }

  .advantage-item .advantage-card-p {
    color: #333333;
  }

  .advantage-card-wrapper .advantage-separator {
    background: rgba(0, 0, 0, 0.30);

  }

  .advantage-item p {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  .slogan {
    background-color: #FFFFFF;
    padding: 64px 347.5px;
    position: inherit;
  }

  .slogan-name {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }

  .slogan p {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
  }

  .advantage-list .advantage-item {
    background: rgba(131, 179, 211, 0.12);
  }

  .advantage-list .advantage-item:nth-child(2n) {
    background-color: #FFFFFF;
  }

  .advantage-list .advantage-item {
    padding: 80px 85px;
    position: inherit;
  }

  .advantage-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 96px;
  }

  .advantage-list img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .recommend-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantage-list p {
    color: #333333;
    margin: 0;
  }

  /* Search */

  .hotel-search h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
  }

  .hotel-search p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
  }

  .search-button {
    display: flex;
    max-width: 592px;
    border: none;
    background-color: #756157;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 50px;
    margin: auto;
    margin-bottom: 96px;
  }

  .search-button:hover,
  .search-button:focus {
    background-color: #615048;
  }

  .search-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #756157;
  }

  .search-button:disabled {
    background-color: #E5E5E5;
  }

  .hotel-search a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* Subscribe */

  .subscribe {
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .subscribe-catalog {
    background-image: none;
  }

  .subscribe-container {
    display: flex;
    padding: 96px 258px 106px 258px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subscribe h2 {
    margin: 0;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
  }

  .subscribe p {
    margin: 0;
    width: 475px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 52px;
  }

  .subscribe-catalog h2 {
    color: #000000;
  }

  .subscribe-catalog p {
    color: #333333;
  }

  .subscribe form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .subscribe-button {
    cursor: pointer;
    margin: 0;
    background: #82B3D3;
    border-radius: 0 4px 4px 0;
    border: none;
    padding: 8px 50px;
    font-family: 'PT Sans', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .subscribe-button:hover,
  .subscribe-button:focus {
    background-color: #68A2CA;
  }

  .subscribe-button:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82B3D3;
  }

  .subscribe-button:disabled {
    background-color: #E5E5E5;
  }

  /* Footer */

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1060px;
    margin: 0 auto;
    padding: 40px 70px 30px 70px;
  }

  .social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 156px;
  }

  .social-link {
    display: block;
  }

  .social-link-image:hover,
  .social-link-image:focus {
    fill: #68A2CA;
  }

  .social-link-image:active {
    fill: rgba(104, 162, 202, 0.3);
  }

  .vk {
    padding: 13px 11.67px;
  }

  .telegram {
    padding: 12px 14.67px 12.9px 14.67px;
  }

  .youtube {
    padding: 11.5px 12.67px;
  }

  .logo-htmlacademy {
    margin-left: auto;
    width: 115px;
  }

  .footer address {
    margin: 0 auto;
  }

  .footer .phone-link {
    padding: 14px 12px 14px 0;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
  }

  .phone-link:hover,
  .phone-link:focus {
    color: #756157;
  }

  .phone-link:active {
    color: rgba(117, 97, 87, 0.3);
  }

  .copyright:hover,
  .copyright:focus {
    fill: #756157;
  }

  .copyright:active {
    fill: rgba(117, 97, 87, 0.3);
  }

  /* CATALOG */

  /* Filter */
  .filter {
    background-image: url(../images/hero-catalog.jpg);
    background-repeat: no-repeat;
    padding: 70px;
    padding-top: 35px;
  }

  .filter form {
    display: flex;
  }

  .filter h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
  }

  .breadcrumbs {
    display: flex;
    margin-bottom: 40px;
  }

  .breadcrumbs img {
    margin: auto 0;
    margin-right: 10px;
  }

  .breadcrumbs span {
    font-size: 16px;
    color: #FFFFFF;
  }

  .filter fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: 70px;
  }

  .filter legend {
    padding: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .filter p {
    margin: 0;
    margin-bottom: 16px;
  }

  .filter p:last-child {
    margin-bottom: 0;
  }

  .filter label {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }

  .price-range {
    display: flex;
    margin-top: 36px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .apply {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-style: none;
    margin-bottom: 32px;
  }

  .reset {
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
    background: transparent;
  }

  /* Catalog */
  .catalog {
    display: flex;
    flex-direction: column;
  }

  .catalog-container {
    margin: 50px 70px;
    margin-bottom: 60px;
  }

  .catalog .catalog-wrapper {
    display: flex;
    flex-direction: row;
  }

  .catalog-wrapper h2 {
    margin-right: auto;
  }

  .sorting-container {
    display: flex;
  }

  .layout-filter-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    margin-left: auto;
  }

  .layout-filter-item {
    margin-right: 8px;
  }

  .layout-filter-item:last-child {
    margin-right: 0;
  }

  .layout-filter-button {
    padding: 14px 12px;
    border-radius: 4px;
    border: 2px solid #000;

  }

  .catalog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
  }

  .hotel-list {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    gap: 20px;
    width: 1060px;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    margin-bottom: 40px;
    list-style: none;
    border-bottom: 1px solid #E6E6E6;
  }

  .hotel-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .hotel-item-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .about-hotel {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .about-hotel h3 {
    margin: 0;
  }

  .name-and-price {
    margin: 0;
    margin-bottom: 16px;
  }

  .more-and-like {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  .button-more {
    background-color: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }

  .more-and-like button {
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .product-card-rating {
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }

  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    min-width: 60px;
    min-height: 60px;
    padding: 11.364px 0 12.636px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    border-radius: 4px;
  }

  .pagination-current,
  .more {
    color: #000000;
    background-color: #F2F2F2;
  }
