  /* Fonts */

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");

    font-display: swap;

  }

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
    background-color: #F2F2F2;
  }

  body {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Header */

  .page-header {
    background-color: #ffffff;
    color: #000000;
  }

  /* Navigation */
  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 507px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .logo {
    display: block;
    margin-right: 30px;
    width: 140px;
  }

  .navigation-user {
    max-width: 268px;
    margin-left: auto;
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 23px;
  }

  .navigation-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
  }

  .navigation-favorite {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
  }

  .navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
  }

  .booking-hotel {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-transform: uppercase;
  }

  /* Main */

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  /* Hero */

  .hero div {
    background-image: url("../images/hero-index.jpg");
    height: 485px;
    background-repeat: no-repeat;
    padding-top: 51px;
  }

  .about-sedona {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .hero p {
    margin: 0;
    margin-bottom: 90px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .hero h2 {
    margin: 0;
    margin-bottom: 25px;
  }

  /* Advantages */

  .advantage {
    display: flex;
    flex-direction: column;
  }

  .advantage-photo-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-photo-wrapper:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .advantage-photo-wrapper .advantage-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 102px 85px;
  }

  .advantage-card-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-card-wrapper .advantage-item {
    background-color: #83B3D31F;
    padding: 103px 85px;
  }

  .advantage-card-wrapper .advantage-item:nth-child(2n) {
    background-color: #83B3D333;
  }

  .advantage-item {
    background-color: #82B3D3;

  }

  .advantage-img {
    display: inherit;
  }

  .advantage-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantage-card-wrapper .advantage-h3 {
    color: #000000;
  }

  .advantage-card-p {
    margin: 0;
  }

  .advantage-item .advantage-card-p {
    color: #333333;
  }

  .advantage-separator {
    width: 60px;
    height: 2px;
    background-image: url("../images/divider.svg");
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .advantage-card-wrapper .advantage-separator {
    background: rgba(0, 0, 0, 0.30);

  }

  .advantage-item p {
    text-align: center;
    color: #FFFFFF;
    margin: 0;
  }

  .slogan {
    background-color: #FFFFFF;
    margin: 64px 0;
  }

  .slogan-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 20px;
  }

  .slogan p {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
  }

  .advantage-list .advantage-item {
    background: rgba(131, 179, 211, 0.12);
  }

  .advantage-list .advantage-item:nth-child(2n) {
    background-color: #FFFFFF;
  }

  .advantage-list .advantage-item {
    padding: 80px 85px;
  }

  .advantage-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 96px;
  }

  .advantage-list img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .recommend-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 30px;
  }

  .advantage-list p {
    color: #333333;
    margin: 0;
  }

  /* Search */

  .hotel-search h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    margin: 0;
    margin-bottom: 20px;
  }

  .hotel-search p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    margin: 0;
    margin-bottom: 54px;
  }

  .search-button {
    display: flex;
    max-width: 592px;
    border: none;
    background-color: #756157;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 8px 50px;
    margin: auto;
    margin-bottom: 96px;
  }


  .hotel-search a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* Subscribe */
  .subscribe {
    background-image: url(../images/subscribe.jpg);
    padding: 96px 258px 104px 258px;
  }

  .subscribe-catalog {
    background-image: none;
  }

  .subscribe h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
  }

  .subscribe p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 54px;
  }

  .subscribe-catalog h2 {
    color: #000000;
  }

  .subscribe-catalog p {
    color: #333333;
  }

  .subscribe form {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  /* Footer */

  .footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
    margin-top: 45px;
    margin-bottom: 30px;
  }

  .social-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 142px;
    margin-right: 42px;
  }

  .vk {
    padding: 13px 11.67px;
  }

  .telegram {
    padding: 12px 14.67px 12.9px 14.67px;
  }

  .youtube {
    padding: 11.5px 12.67px;
  }

  .logo-htmlacademy {
    margin-left: auto;
    max-width: 115px;
  }

  .footer address {
    margin: 0 auto;
  }

  .footer address a {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
  }

  /* CATALOG */

  /* Filter */
  .filter {
    background-image: url(../images/hero-catalog.jpg);
    background-repeat: no-repeat;
    padding: 70px;
    padding-top: 35px;
  }

  .filter form {
    display: flex;
  }

  .filter h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 8px;
  }

  .breadcrumbs {
    display: flex;
    margin-bottom: 40px;
  }

  .breadcrumbs img {
    margin: auto 0;
    margin-right: 10px;
  }

  .breadcrumbs span {
    font-size: 16px;
    color: #FFFFFF;
  }

  .filter fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    margin-right: 70px;
  }

  .filter legend {
    padding: 0;
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .filter p {
    margin: 0;
    margin-bottom: 16px;
  }

  .filter p:last-child {
    margin-bottom: 0;
  }

  .filter label {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }

  .price-range {
    display: flex;
    margin-top: 36px;
  }

  .button-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .apply {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 50px;
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-style: none;
    margin-bottom: 32px;
  }

  .reset {
    padding: 8px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
    background: transparent;
  }

  /* Catalog */
  .catalog {
    display: flex;
    flex-direction: column;
  }

  .catalog-container {
    margin: 50px 70px;
    margin-bottom: 60px;
  }

  .catalog .catalog-wrapper {
    display: flex;
    flex-direction: row;
  }

  .catalog-wrapper h2 {
    margin-right: auto;
  }

  .sorting-container {
    display: flex;
  }

  .layout-filter-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 160px;
    margin-left: auto;
  }

  .layout-filter-item {
    margin-right: 8px;
  }

  .layout-filter-item:last-child {
    margin-right: 0;
  }

  .layout-filter-button {
    padding: 14px 12px;
    border-radius: 4px;
    border: 2px solid #000;

  }

  .catalog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
  }

  .hotel-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1060px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .hotel-item {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .hotel-item:last-child {
    margin: 0;
  }

  .about-hotel {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
  }

  .button-more {
    background-color: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }

  .more-and-like button {
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .product-card-rating {
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }

  .pagination {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  .pagination-item:not(:last-child) {
    margin-right: 8px;
  }

  .pagination-link {
    display: block;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 11.364px 0 12.636px 0;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    border-radius: 4px;
  }

  .pagination-current, .more {
    color: #000000;
    background-color: #F2F2F2;
  }
