  /* Fonts */

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/pt-sans-regular.woff2") format("woff2");

    font-display: swap;

  }

  @font-face {
    font-family: "PT Sans", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/pt-sans-bold.woff2") format("woff2");
    font-display: swap;
  }

  html {
    height: 100%;
    background-color: #F2F2F2;
  }

  body {
    background-color: #ffffff;
    color: #333333;
    width: 1200px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    min-height: 100%;

    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /* Header */

  .page-header {
    background-color: #ffffff;
    color: #000000;
  }

  /* Navigation */
  .navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    width: 507px;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .logo {
    display: block;
    margin-right: 30px;
    width: 140px;
  }

  .navigation-user {
    max-width: 268px;
    margin-left: auto;
  }

  .navigation-user .navigation-link {
    min-width: 18px;
    min-height: 23px;
  }

  .navigation-search {
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
  }

  .navigation-favorite {
    background-image: url("../images/favorite.svg");
    background-repeat: no-repeat;
  }

  .navigation-link {
    display: block;
    padding: 20px 16px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: capitalize;
    color: #000000;
    text-decoration: none;
  }

  .booking-hotel {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    background-color: #756157;
    text-align: center;
    text-transform: uppercase;
  }

  /* Main */

  .main-container {
    flex-grow: 1;
  }

  .page-container {
    width: 1200px;
    margin: 0 auto;
  }

  /* Hero */

  .hero div {
    background-image: url("../images/hero-index.jpg");
    background-repeat: no-repeat;
    padding-top: 51px;
    padding-bottom: 82px;
    margin-bottom: 69px;
  }

  .about-sedona {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .hero p {
    margin: 0;
    margin-bottom: 90px;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .hero h2 {
    margin: 0;
    margin-bottom: 25px;
  }

  /* Advantages */

  .advantage {
    display: flex;
    flex-direction: column;
  }

  .advantage-photo-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-photo-wrapper:nth-child(2n) {
    flex-direction: row-reverse;
  }

  .advantage-card-wrapper {
    display: flex;
    flex-direction: row;
  }

  .advantage-card-wrapper .advantage-item {

    background-color: #83B3D31F;
    padding: 103px 85px;
  }

  .advantage-card-wrapper .advantage-item:nth-child(2n) {
    background-color: #83B3D333;
  }

  .advantage-item {
    background-color: #82B3D3;
  }

  .advantage-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .advantage-card-wrapper .advantage-h3 {
    color: #000000;
  }

  .advantage-item .advantage-card-p {
    color: #333333;
  }

  .advantage-separator {
    width: 60px;
    height: 2px;
    background-image: url("../images/divider.svg");
    margin: 0 auto;
  }

  .advantage-card-wrapper .advantage-separator {
    background: rgba(0, 0, 0, 0.30);

  }

  .first-advantage,
  .third-advantage {
    background: rgba(131, 179, 211, 0.12);
  }

  .second-advantage {
    background-color: #FFFFFF;
  }

  .advantage-item p {
    text-align: center;
    color: #FFFFFF;
  }

  .slogan {
    background-color: #FFFFFF;
  }

  .slogan-name {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
  }

  .slogan p {
    color: #333333;
    font-size: 22px;
    line-height: 26px;
  }

  .recommend-h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .advantage-list .advantage-item {
    width: 400px;
  }

  .advantage-list {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .advantage-list img {
    display: block;
    margin: 0 auto;
  }

  .advantage-list p {
    color: #333333;
  }

  /* Search */

  .hotel-search h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
  }

  .hotel-search p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }

  .hotel-search .button {
    text-align: center;
  }

  .hotel-search a {
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    color: #ffffff;
    background-color: #756157;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* Subscribe */
  .subscribe {
    background-image: url(../images/subscribe.jpg);
  }

  .subscribe h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
  }

  .subscribe p {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
  }

  /* Footer */
  .footer-container {
    display: flex;
    width: 1060px;
    margin: 0 auto;
  }

  .social-list {
    width: 142px;
    margin-right: 42px;
  }

  .logo-htmlacademy {
    margin-left: auto;
    max-width: 115px;
  }

  .footer address a {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-style: normal;
  }

  /* CATALOG */

  /* Filter */
  .filter {
    background-image: url(../images/hero-catalog.jpg);
    background-repeat: no-repeat;
  }

  .filter h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
  }

  .breadcrumbs span {
    font-size: 16px;
    color: #FFFFFF;
  }

  .filter legend {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  .filter label {
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
  }

  .apply {
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    text-transform: uppercase;
    border-style: none;
  }

  .reset {
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-style: none;
  }

  /* Catalog */
  .catalog {
    display: flex;
    flex-direction: column;
  }

  .catalog .catalog-wrapper {
    display: flex;
    flex-direction: row;
  }

  .catalog-wrapper h2 {
    margin-right: auto;
  }

  .layout-filter-list {
    width: 160px;
    margin-left: auto;
  }

  .catalog h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
  }

  .hotel-list {
    width: 1060px;
  }

  .about-hotel {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-decoration: none;
  }

  .button-more {
    background-color: #756157;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
  }

  .more-and-like button {
    background-color: #82B3D3;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .product-card-rating {
    background-color: #F2F2F2;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #333333;
  }

  .pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
    background-color: #82B3D3;
    border-radius: 4px;
  }

  .pagination-current {
    background-color: #F2F2F2;
  }
